
.App{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container{
    background-color: transparent;
    width: 500px;
    /* padding: 25px; */
    border-radius: 30px;
    text-shadow: 0 4px 8px 0 rgb(220,84,84);
    padding-top: 10px;
  }
  h1{
    text-align: center;
    color: rgb(247, 80, 8);
  }
  .input{
    display: flex;
    flex-direction: column;
    margin: 25px;
  }
  .button{
    display: flex;
    justify-content: space-around;
    color: yellow;
  }
.field{
    outline-color:rgb(247, 80, 8) ;
}
h2{
    font-size: 35px;
    color:rgb(96, 96, 96) ;
}
.movie{
    height: 500px;
    width: 450px;
    padding: 10px;
    
    border-radius: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    width: 400px;
}
b{
    font-weight: bold;
}
